<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
            Home | Fakepinterest
        {% endblock %}
    </title>
</head>

{% block body %}
    <body>
        <h1>Meu primeiro site em Flask</h1>

        <h3>Formulário de Login<h3>
        {% block form %}
            <form method="POST">
                {{ form.csrf_token }}

                    {{  form.email.label()  }}
                    {{  form.email()  }}
                    
                    {{  form.senha.label()  }}
                    {{  form.senha()  }}

                    {{ form.botao_confirmacao()  }}

            </form>
        {% endblock %}
    </body>
{% endblock %}
</html>
