{% extends "homepage.html" %}

{% block titulo %}
    Perfil | {{ usuario }}
{% endblock %}


{% block body %}
    <body>

        <h1>Página de Perfil usuário: {{ usuario.username }}</h1>
        
        {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                {{ form.foto() }}
                {{ form.botao_confirmacao() }}
            </form>
        {% endif %}

        

        <a href="{{ url_for('logout') }}">Sair</a>

        <img src="{{ url_for('static', filename='fotos_post/default.jpg') }}">

        {% for foto in usuario.fotos %}
        {% endfor %}
    </body>
{% endblock %}

